.bg-custimize{
  background-color: rgba(0, 255, 255, 0.2);
}
.link-shadow{
  color: white !important;
  text-shadow: 2px 2px 8px black, -2px -2px 8px black;
  /* text-shadow: black 0 0 8px; */
}
.img-div img{
  max-height: 85vh !important;
  min-width: 100%;
}